.post-wrap {
  @include clearfix;
  @include span-columns(12);
  @include transition(all .1s ease-in-out);
  margin-bottom: 2em;
  padding: 2em;

  &:hover {
    background: lighten($light-gray, 5);
  }

  .post-title {
    font-size: 2em;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1em;

    a {
      color: black;
    }
  }

  .post-date {
    float: right;
    font-size: 0.5em;
  }
}

.post-body {
  padding-top: 1em;

  h2 {
    margin: 1em 0;
  }

  p {
    margin: 1em 0;
  }

  img {
    max-width: 60%;
  }

  .image {
    @include span-columns(7);
    border-radius: 5px;
    max-width: 50%;

    img {
      @include fill-parent;
    }
  }
}

.featured-post-wrap {
  text-align: center;
  background: $aiwa-tan;
}
