// Libraries
@import "bourbon";
@import "bitters/bitters";
@import "neat";

//Smooths appearance of text
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

//Removes browser default margins from body.
body {
  margin: 0;
}

section.main-content {
  // Centers the element in the viewport, clears its floats, and sets its
  // max-width.  http://neat.bourbon.io/docs/#outer-container */
  @include outer-container;

  p {
    font-size: 1.2em;
    font-weight: 200;
  }

  h4, h6 {
    padding: 2em 0 1em 0;
  }
}

section.homepage {
  @include span-columns(6);

  div.segments {
    padding: 2em 0 2em 0;
    border-bottom: 1px solid $light-gray;
  }

  h2 {
    padding-bottom: 0.6em;
  }
}

div.paypal-donation-button {
  padding-top: 2em;
}
