section.about-page {
  padding: 1em 0 0 1em;

  .address {
    margin-top: 3em;
    margin-bottom: 3em;

    h4 {
      text-align: center;
    }
  }

  .contact-info {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }

  h6 {
    padding: 2em 0 1em 0;
  }
}
