---
layout: main
---

<section class="main-page">
  <div class="page-intro">
    <h1>Executive Committee and Board Members</h1>
    <p>
      Please meet our hard working dedicated Executive Committee members and
      Board Members.
    </p>
  </div>
    <div class="board">
      <h2>Executive Committee</h2>
      <ul>
        <li>President: Usha Kapila</li>
        <li>Vice President: Niru Bajaria</li>
        <li>Secretary: Meena Parekh</li>
        <li>Joint Secretary: Kalpana Chokshi</li>
        <li>Treasurer: Jyoti Jadia</li>
      </ul>
    </div>
    <div class="board">
      <h2>Board Members</h2>
      <ul>
        <li>Bharti Bhavsar</li>
        <li>Pina Chhaya</li>
        <li>Devyani Dani</li>
        <li>Paru Patel</li>
        <li>Daksha Pandit</li>
        <li>Reena Shah</li>
      </ul>
    </div>
    <div class="board">
      <h2>Advisory Board</h2>
      <ul>
        <li>Chitra Asher</li>
        <li>Chandra Kothari</li>
        <li>Gauri Patel</li>
      </ul>
    </div>
</section>
