---
layout: main
---

<section class="main-page">
  <h1>Become a member</h1>
  <ol class="membership-steps">
    <li>Fill out <%= link_to 'this PDF', 'membership_form_2014.pdf'%> and mail to:
    <div class="address">
      <span>AIWA</span> 
      <span>1345 Whitefield Dr</span>
      <span>Dearborn Hts, MI</span> 
      <span>48127</span>
    </div>
    </li>
    <li>Pay using the button below</li>
  </ol>
  <div class="cta">
    <%= partial "partials/membership-purchase" %>
  </div>
</section>
