<header>
  <section>
    <%= link_to "Asian Indian Women's Association of Michigan", "index.html", class: "blog-title" %> 
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About", "about.html" %></li>
      <li><%= link_to "Events", "events.html" %></li>
    </ul>
  </section>
</header>
