<h2>
  What does Asian Indian Women’s Association mean?
</h2>

<p>
  Asian Indian Women's Association (AIWA) was a dream of a few women who were
  first generation wives coming to this country with their husbands, leaving
  the only home they knew and their families thousands of miles away.
</p>

<p>
  A group of women, who made a home in a new world, raised and educated
  children, watched these children get married and build families of their own.
  Throughout all this, they noted the lessons they learned and were determined
  of the importance of sharing them with more women as they come to this
  country and to their daughters.
</p>

<p>
  Over the years, they have seen the impact of poor health and lack of
  understanding prevention effect their spouses as well as themselves.  They
  saw women put in situations of financial distress and not knowing what to do.
  These women wanted to create a safe haven where other women like themselves
  can pro-actively learn, share and collaborate.
</p>

<p>
  I am a second generation Asian Indian woman who has had the opportunity and
  advantage of everything this country has to offer.  But the question is: do I
  know what to do?  Do I know the importance of taking care of myself, keeping
  myself educated on the challenges of life?  Just because I was raised in
  America and educated in America doesn’t necessarily mean I know how to care
  for myself and my family.
</p>

<p>
  AIWA has opened my eyes to the power of women.  I have seen first hand how
  teamwork, common goals and hard work can raise awareness.  Over the last few
  years, I have seen at least one women leave an AIWA event having learned
  something very important to them!
</p>

<p>
  I myself have a daughter, who is growing up in a completely different world
  than I did.  She will face challenges and I look to AIWA to help me as I
  raise her to be a strong Asian Indian Woman in a world where women have so
  many opportunities.  I also look to AIWA to remind me of my culture and give
  me the ability to share it with my children.
</p>

<ul>
  <b>
    <li>What does AIWA mean to me?</li>
  </b>
  <li>AIWA means learning.</li>
  <li>AIWA means sharing.</li>
  <li>AIWA means strength.</li>
  <li>AIWA means courage!</li>
</ul>

<blockquote>
  "Courage is the most important of all the virtues, because without courage
  you can't practice any other virtue consistently." -Maya Angelou
</blockquote>

Written by Paru Patel, Pharm. D.
