---
title: Family Picnic
date: 2014-07-13 00:00 UTC
tags: Picnic
---

<div class="post-wrap">
  <p>
    <h2>
      <%= current_page.data.title %>
    </h2>
  </p>

  <p>Family Picnic on Sunday July 13, 2014</p>
  <p>Plymouth Township Park</p>
  <p>Plymouth, MI 48170</p>
  <p>2 PM to 8 PM</p>

  <div class="image">
    <%= image_tag('picnic_2014.jpg') %>
  </div>
</div>
