---
title: Senior Meeting on Independent Living Facility
date: 2014-06-30 03:28 UTC
tags: senior meeting
---

<h6>
  Asian Indian Women’s Association (AIWA) presents
</h6>

<h2>
  An Exploratory Meeting for Senior Independent Living Facility in Michigan
</h2>

<h3>
  With:
  Mr. Iggy Ignatius
  President of ShantiNiketan, Inc.
</h3>

<p>
  <h5>
    Where:
  </h5>
  Lawrence Tech University</br>
  21000 West Ten Mile Road</br>
  Southfield, MI 48075-1058</br>
  <%= link_to('Click Here for Directions', 'http://mapq.st/1yLQphy') %></br>
</p>

<p>
  <h5>When:</h5>
  July 20, 2014 from 2:00 PM to 6:00 PM</br>
</p>

<p>
  <h5>Cost:</h5>
  $15.00 per person - Non Member</br>
  $10.00 per person for member and member’s spouse</br>
  RSVP: By July 15th, 2014</br>
</p>

<p>
  Light dinner will be served.
</p>

<p>
  No walk-ins allowed please.
</p>

<p>
  <h5>
    Contact:
  </h5>
  For further info please call Daksha Pandit at 734-459-5089</br>
  Kalpana Chokshi at 734-972-7351 or 734-591-7829</br>
  Please make checks payable to Asian Indian Women’s Association</br>
  Mail your check to: AIWA, 10946 Fellows Hill Dr. Plymouth, MI 48170</br>
</p>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="KQNXD3DY4M8NG">

  <table>
    <tr>
      <td>
        <input type="hidden" name="on0" value="Event ticket">Buy Tickets
      </td>
    </tr>

    <tr>
      <td>
        <select name="os0">
          <option value="Non member">Non member $16.50 USD</option>
          <option value="Member">Member $11.50 USD</option>
        </select>
      </td>
    </tr>
  </table>

  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
