---
title: Senior Meeting on Independent Living Facility
date: 2014-06-30 03:28 UTC
tags: senior meeting
---

<h6>
  Asian Indian Women’s Association (AIWA) presents
</h6>

<h2>
  An Exploratory Meeting for Senior Independent Living Facility in Michigan
</h2>

<h3>
  With:
  Mr. Iggy Ignatius
  President of ShantiNiketan, Inc.
</h3>

<p>
  <h5>
    Where:
  </h5>
  Lawrence Tech University</br>
  21000 West Ten Mile Road</br>
  Southfield, MI 48075-1058</br>
  <%= link_to('Click Here for Directions', 'http://mapq.st/1yLQphy') %></br>
</p>

<p>
  <h5>When:</h5>
  July 20, 2014 from 2:00 PM to 6:00 PM</br>
</p>

<p>
  <h5>Cost:</h5>
  $15.00 per person - Non Member</br>
  $10.00 per person for member and member’s spouse</br>
  RSVP: By July 15th, 2014</br>
</p>

<p>
  Light dinner will be served.
</p>

<p>
  No walk-ins allowed please.
</p>

<p>
  <h5>
    Contact:
  </h5>
  For further info please call Daksha Pandit at 734-459-5089</br>
  Kalpana Chokshi at 734-972-7351 or 734-591-7829</br>
  Please make checks payable to Asian Indian Women’s Association</br>
  Mail your check to: AIWA, 10946 Fellows Hill Dr. Plymouth, MI 48170</br>
</p>
