---
title: Understanding Your Life Plan
date: 2016-05-31
tags: financial planning
featured: true
---

<div>
  In May of 2016, we were treated to a financial planning seminar by Bhrugang Patel. Below is a link to his slides.
</div>

<div>
  <%= link_to(
    'Slides from Financial Planning Presentation',
     '../images/the_big_picture_aiwa_04302016a.pptx')
   %>
</div>
