---
title: Yoni Ki Baat
date: 2016-09-08 17:40 UTC
tags: events, domestic violence, Mai Family Services
---

<% link_to('yoni-ki-baat.jpg') do %>
  <%= image_tag('yoni-ki-baat.jpg') %>
<% end %>

<h2> Agenda for the event: </h2>

<ul>
<li>5:30 p.m. - Welcome/ Documentary</li>
<li>5:45 p.m. - 7:15 p.m. - YKB story (with dance)</li>
<li>7:15 p.m. - 8:00 p.m. - Anisha Dhurve talk</li>
<li>8:00 p.m. - Distribute Food bags</li>
</ul>

<h2> Description: </h2>
<p>
  Mai Family Services has completed its 30 years supporting individuals and families in abuse and crisis situations. A lot of work needs to happen in this space and as a partner organization, our collaboration from time to time handling specific requests has been tremendous. Thank you for all your support.
</p>

<p>
  In an unique collaboration, Mai Family Services has partnered with Asian Indian Women's Association (AIWA) in addressing issues that have decimated the very ecosystem we live in. Welcome to Yoni Ki Baat on September 24th at VistaTech Center (Schoolcraft College), in Livonia at 5:30 p.m. 
</p>

Domestic Violence and abuse occurs anytime to anyone. This requires consistent awareness among individuals and families as the entire ecosystem begins to fall apart. Mai Family Services is committed in spreading the awareness about DV and Mental Health and our upcoming event brings together real stories from real people. The travelogue contains ten stories – some of them narrated by DV survivors followed by an inspiring talk by Anisha Durve, a domestic abuse survivor who has launched her book “Power to Break Free”. The entire event will be in English. Admission is Free. We suggest individuals register for the event owing to the capacity of the auditorium. Registration details at www.maifs.org

Details for the event are on the flyer.

Please help us in spreading the word within your community. Once again, thank you for your partnership.

With best regards
Anu
