---
title: 2016 Women's Day
date: 2016-03-24
featured: true
tags: womens day
---

<div class="image">
  <% link_to('../images/iwd_2016.jpg') do %>
    <%= image_tag('iwd_2016.jpg') %>
  <% end %>
</div>
