<section class='about-page'>
  <h1>About Us</h1>

  <div class='address'>
    <h4>Asian Indian Women’s Association</h4>
    <h4>10946 Fellows Hill Dr</h4>
    <h4>Plymouth, MI 48170</h4>
  <div>


  <div class='contact-info'>
    <ul>
      <li><%= link_to('http://www.aiwami.org') %></li>
      <li><%= mail_to('aiwamich@gmail.com') %></li>
    </ul>
  </div>



  <p>
    AIWA-Michigan is a group of Detroit-area South Asian Women who seek to
    promote awareness of issues relevant to ourselves and our community.
    Through seminars and activities we are increasing the knowledge of health,
    financial, and retirement planning in our community. We also provide
    resources for families in crisis, a women’s support network, and also
    leisure activities for Indian women to enjoy ourselves and meet others with
    similar interests.
  </p>

  <h6>Our Mission Statement:</h6>

  <p>
    The Asian Indian Women’s Association provides a forum for dialogue and
    discussion on issues in the field of education, social welfare, and
    culture.
  </p>

  <h6>Our Vision:</h6>

  <p>To increase the knowledge of issues related to women.</p>
  <p>To sponsor programs that provide a forum for dialogue and discussion on
  issues of interest to Indian women in the fields of education, social
  welfare, culture, and business.</p>
  <p>To focus on what we can do to strengthen our community, including our
  youth, children, friends, neighbors, and ourselves.</p>
  <p>To increase the visibility of Indian women and to promote their equal role
  in the community.</p>


  <h6>Our Background:</h6>

  <p>
    We are a group of South Asian Women who seek to promote an awareness of
    issues relevant to our selves and our community. Through various seminars
    and activities we are increasing the knowledge of health, financial and
    retirement planning (covering retirement housing, long-term care and Social
    Security) in the community.
  </p>

  <p>
    We also provide resources for family crisis, a women’s support network, and
    also leisure activities primarily for Indian women to relax and meet others
    with similar interests.  Since its inception in January 2000, the Asian
    Indian Women’s Association has been growing steadily. In the last twelve
    years, we have organized several seminars and leisure activities.
  </p>
</section>
