<section class="homepage">
  <div class="what-aiwa-means segments">
    <%= partial "partials/what_aiwa_means" %>
  </div>

  <div class="donations segments">
    <%= partial "partials/donation_information" %>
  </div>
</section>
