<section class="hero">
  <div class="outer-container">
  <header class="hero-text">
    <h1>Asian Indian Women's Association</h1>
    <h2>
      The Asian Indian Women's Association (AIWA) is the dream of first
      generation wives who came to the United States and left their families
      and the only home they knew thousands of miles away.
    </h2>
  </div>
  </header>
</section>

<section class="detail-section">
  <div class="outer-container">
    <ul class="aiwa-attributes">
      <li>
        <h4>Learning</h4>
        <p>
          Attend seminars and activities about healthcare, finance and retirement
          planning.
        </p>
      </li>
      <li>
        <h4>Strength</h4>
        <p>
          We offer a support network for women that offers resources for families
          in crisis.
        </p>
      </li>
      <li>
        <h4>Community</h4>
        <p>
          Meet fellow Indian women with similar interests by taking part in
          leisure activities.
        </p>
      </li>
      <li>
        <h4>Courage</h4>
        <p>
          We promote a sense of awareness of issues relevant to ourselves and our
          community.
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="callout">
  <div class="outer-container">
    <div class="cta">
      <%= partial "partials/donation_information" %>
    </div>
    <blockquote>
      <h5>
        "Courage is the most important of all the virtues, because without
        courage you can't practice any other virtue consistently."
      </h5>
      <byline>-Maya Angelou</byline>
    </blockquote>
  </div>
</section>
